<div class="row mt">
  <div class="col-md-12">
      <div class="content-panel">
          <table class="table table-striped table-advance table-hover">
              <h4 class="pull-left"><i class="fa fa-angle-right"></i> Listas de Música</h4>
              <div class="pull-right text-right pr-20">
                <a class="btn btn-sm btn-xl" ui-sref="add-list">
                  <i class="fa fa-plus mr-5"></i>Agregar Lista
                </a>
              </div>
              <div class="clearfix"></div>
              <hr>
              <thead>
              <tr>
                  <th><i class="fa fa-bullhorn"></i> Nombre</th>
                  <th class="hidden-phone">Fecha de Creación</th>
                  <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="list in lists track by list.id">
                  <td><a href="#">{{list.name}}</a></td>
                  <td class="hidden-phone">{{list.createdAt}}</td>
                  <td>
                      <button class="btn btn-primary btn-xs" ui-sref="edit-list({listId: list.id})"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-danger btn-xs" ng-click="deleteList(list.id)"><i class="fa fa-trash-o "></i></button>
                  </td>
              </tr>
              </tbody>
          </table>
      </div><!-- /content-panel -->
  </div><!-- /col-md-12 -->
</div><!-- /row -->